section, header, article, nav{
	display: block;
}
*{
	padding: 0;
	margin: 0;
}

body{
	margin: 1em 10%;
	/*background-image: url(../images/navBg.jpg);*/
	background-attachment: fixed;
	background-position: top left;
	background-repeat: repeat-x;
	max-width: 80em;
}

header {
	background-image: url(../images/headerBg.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
	border-width: .1em;
	border-style: solid;
	border-bottom-width:0; 
}

header nav{
	background-image: url(../images/navBg.jpg);
	background-position: bottom right; 
	background-repeat: repeat-x;
	border-width: .1em;
	border-style: solid;
	border-bottom-style: 0;
	border-top-width:0;
	padding-left:10%;  
}

header nav ul{
	width: 100%;
	overflow: hidden;
	border-left-width: .1em;
	border-left-style: solid;
}

header nav li{
	display: inline;
}

header nav li a{
	display: block;
	float: left;
	padding: .5em 2em;
	border-right: .1em solod;
}

article{
	border-width: .1em;
	border-style: solid;
	border-top-width: 0;
	padding: 2em 10%;
	line-height: 1.80em;
}

article img{
	border-style: solid;
	border-width: .1em;
	outline-width: .1em;
	outline-style: solid;
}